.slide-in {
  transform: translateX(0%);
  animation: slide-in 0.4s 1;
}

.slide-out {
  transform: translateX(100%);
  animation: slide-out 0.4s 1;
}

.fade-in {
  opacity: 1;
  animation: fade-in 0.4s 1;
}

.fade-out {
  opacity: 0;
  animation: fade-out 0.4s 1;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
