@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Chrome, Safari, Edge, Opera */
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quantity[type=number] {
  -moz-appearance: textfield;
}
